/* Signup Form
     ========================================================================== */

	/* center logo and add needed spacing */
	.signup-form--logo {
		display: block;
		margin: 5rem auto 3rem;

		max-width: 100px;
	}

	/* center the teaser text and add needed spacing */
	.signup-form--teaser {
		text-align: center;
		margin-bottom: 2rem;

		/* updating the color of the site name within teaser */
		strong {
			color: $primary-color;
		}
	}

	/* correct input borders, box shadows, and padding / adding css sprite background image */
	.signup-form--input {
		@include css-sprite;

		border: none;
		border-bottom: 1px solid $dark-gray;

		box-shadow: none;

		height: 2.8rem;

		padding-left: 4rem;

		/* custom input placeholder color */
		&::placeholder {
			color: $dark-gray;
			text-transform: uppercase;
		}
	}

	/* adding margin to submit button */
	.signup-form--submit {
		margin-top: 1.5rem;
		text-transform: uppercase;
	}

	/* name field sprite image */
	#signup-form--name {
		background-position: .9rem 0.5rem;
	}

	/* email field sprite image */
	#signup-form--email {
		background-position: .9rem -3.4rem;
	}