/* Header Bar
     ========================================================================== */
	
	body {
		background-color: #efefef;
		font-family: 'Open Sans', sans-serif;
	}
	body.signup-form {
		background-color: #fff;
	}