/* Presentational Classes
     ========================================================================== */

     /* applies consistent border-radius to any block element */
     .border-radius {
     	border-radius: 4px !important;
     }

     /* applies error styling to inputs */
     .required-error {
     	border: 1px solid $alert-color !important;
     	color: $alert-color !important;

     	&::placeholder {
     		color: $alert-color !important;
 		}
     }