/* Callouts
     ========================================================================== */

	.callout {
		border: 1px solid #dbdbdb;
		border-bottom: 3px solid #dbdbdb;
		text-align: center;
	}

	.overlap-section {
		background-color: $primary-color;
		border-radius: 100px;
		color: #fff;
		display:inline-block;
		font-weight: bold;
		margin-bottom: -2.5rem;
		padding: .7rem 1.2rem;
		position: relative;
		top: -2.5rem;
	}

	.result .overlap-section {
		margin-bottom: -3.5rem;
		top: -3.5rem;
	}

	.correct-answer .overlap-section {
		background-color: $correct-result-color;
	}

	.wrong-answer .overlap-section {
		background-color: $wrong-result-color;
	}